body {
    background-color: #666666;
  }
#contact {
    background-color: #666666;
  }
  .container {
    /* padding-right:30px; */
    background-color: #fff;
    margin: 30px 100px;
    width: 400px;
    border: 2px solid white;
    border-radius: 12px;
    padding: 50px;
    padding-top:30px;
  }
  /* .form-control{
      margin:10px ;
      
  } */
  .contact-button {
    /* margin: 10px; */
    border: none;
    background: #2dc997;
    background-image: -webkit-linear-gradient(top, #2dc997, #205544);
    background-image: -moz-linear-gradient(top, #2dc997, #205544);
    background-image: -ms-linear-gradient(top, #2dc997, #205544);
    background-image: -o-linear-gradient(top, #2dc997, #205544);
    background-image: linear-gradient(to bottom, #2dc997, #205544);
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 100%;
  }
  
  .contact-button:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #58a68d, #377c66);
    background-image: -moz-linear-gradient(top, #58a68d, #377c66);
    background-image: -ms-linear-gradient(top, #58a68d, #377c66);
    background-image: -o-linear-gradient(top, #58a68d, #377c66);
    background-image: linear-gradient(to bottom, #58a68d, #377c66);
    text-decoration: none;
  }
  #contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #BCEAD5;
  }
  #contact1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #BCEAD5;
    padding-top:0px;
  }
  .contact-title {
    color: #666666;
    font-weight: bold;
    margin-bottom: 50px;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
    text-align:left;
  }
  label{
    padding-bottom:10px;
    color:#666666
  }
  #submit_btn {
    margin-top: 50px;
    padding:20px;
  }
  #bmi {
    border: 2px solid #8bbccc;
    border-radius: 12px;
    padding: 30px;
    /* color: #439a97; */
    background-color: #def5e5;
  }
  .bmi-overweight{
    color: red;
}

.bmi-normal {
    color:blue ;
}

.bmi-underweight{
    color: green;
}
  h5{
    color:#666666;
    padding-left:20px;
    padding-top: 10px;
    font-family: "Nunito Sans", sans-serif;
  }
  .weight{
    display:flex;
    padding-bottom:10px;
    
  }
  img{
    height: auto;
    width: 40px;
  }